<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> <%= title %> </title>
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inconsolata:wght@500&display=swap" rel="stylesheet">
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/app.css">


</head>
<body>
 <%- include('./partials/header')%>
 
 
	<!-- Banner -->
	<div class="banner">
		<img src="images/img-banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<% for(let i=0; i<relojes.length; i++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
					    <a href="/product/detail/ <%= relojes[i].id%>">
							<figure class="product-box_image">
								<img src= <%= relojes[i].image %>
							</figure>
							<article class="product-box_data">
								<h2 class="name1"> <%= relojes[i].name %></h2>
								<p> <br>
								       <br>
								  
									  
								</p>
                          
								<p><a href="/">Usuario: <%= relojes[i].usuario.name %> 	</a></p>
						
							</article>
						</a>
					</section>
				</div>
            <% } %>
		
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Nuevos lanzamientos</h2>
			</div>
			
			<!-- Show the "ultimos" products -->
			<% for(let i=0; i<relojes.length; i++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/detail/ <%= relojes[i].id%>"></a>
							<figure class="product-box_image">
								<img src=<%= relojes[i].image %> 
							</figure>
							<article class="product-box_data">
								<h2 class="name1"> <%= relojes[i].name %></h2>
								<p><%= relojes[i].name %> <br>
								       <br>
								  
									   <%= relojes[i].descripcion %>
								</p>
								<p> Usuario: <%= relojes[i].usuario.name %> </p>
							</article>
						</a>
					</section>
				</div>
            <% } %>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
	
</body>	

</html>